{
    "description": "a file to hold configuration parameters (e.g., registration app server ip and port)",
    "registration_server":{
            "ip_address":"127.0.0.1",
            "port_number":"1234"
     }
}